body{
    background-color: #3281cf;
}

nav {
    top: 0px;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative;
    text-align: center;
    font-weight: bold;
    float: left;
}
nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    width: 150px;
    margin: 2px;
}

nav a:link{
    background-color: white;
}
nav a:hover, nav a:focus {
    background-color: #ffffbd;
}

nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}

nav>ul>li:hover>ul{
    display: block;
}