h1 {
    color: #ffffbd;
    margin: 15px;
}

h3 {
    margin: 15px;
}

body {
    background-color: #3281cf;
}

p, h3, blockquote {
    color: white;
}

footer {
    color: white;
    margin: 50px;
    text-align: center;
}

a {
    color: #ffffbd;
}

p.a::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffbd;
}

p.b, p.c, p.d {
    text-indent: 25px;
}

.wrapper {
    margin: 15px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.profile {
    border-radius: 50%;
    margin: 50px;
    margin-top: 10px;
    border: 5px solid#ffffbd;
}